html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  /*overflow-y: hidden;*/
}
/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0009;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: black;
}
section{
  scroll-snap-align: start;
}

@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-moz-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  to {
    -webkit-transform: translate3d(1000px, 0px, 0px);
  }
}

.background-container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  cursor: crosshair;
}

.stars {
  background: black
    url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 0;
}

.twinkling {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  -moz-animation: move-background 70s linear infinite;
  -ms-animation: move-background 70s linear infinite;
  -o-animation: move-background 70s linear infinite;
  -webkit-animation: move-background 70s linear infinite;
  animation: move-background 70s linear infinite;
}

.clouds {
  width: 10000px;
  height: 100%;
  background: transparent
    url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/clouds_repeat.png")
    repeat;
  background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 3;

  -moz-animation: move-background 150s linear infinite;
  -ms-animation: move-background 150s linear infinite;
  -o-animation: move-background 150s linear infinite;
  -webkit-animation: move-background 150s linear infinite;
  animation: move-background 150s linear infinite;
}
img {
  height: 30vh;
  width: 30vh;
  position: absolute;
  z-index: 3;
  right: 5px;
}
.mine {
  color: white;
  z-index: 4;
  position: absolute;
  text-align: center;
  height: 20vh;
  width: 99vw;
  top: 40%;
}
.mine i {
  font-size: 18px;
  color: darkgray;
}

:root {
  background-color: #262626;
}
i {
  margin-right: 15px;
}
h1 {
  padding-top: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
}
h2 {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 100;
  color: #607560;
}
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 40%;
  font-weight: 100;
  color: #607560;
}
p {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 10px;
}
li {
  color: #29f5c5;
}
span {
  color: #505950;
}
hr {
  color: #29f5c5;
  background-color: #29f5c5;
  height: 2px;
  width: 20%;
  text-align: left;
  margin-left: 0px;
  border-width: 0px;
}
.container {
  display: grid;
  height: 98vh;
  grid-template-columns: 0.9fr 1fr;
  grid-template-areas: "leftSide rightSide";
  grid-gap: 0.2rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: 500;
  font-size: 11px;
  color: #505950;
}

#leftSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 98vh;
  border-right: 3px solid #383838;
  padding-left: 5px;
}
.leftFacts {
  display:flex;
  justify-content: center;
  flex-direction: column;
  height: 22%;
}
.leftProfile {
  display: flex;
  flex-direction: column;
  height: 25%;
}
.leftSkills {
  display: flex;
  flex-direction: column;
  height: 40%;
}

#profilePic {
  background-image: url(./Assets/jag2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 1px solid #29f5c5;
  height: 15%;
  width: 70%;
  margin-left: 5px;
}

.facts {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.factsRight {
  margin-left: 20px;
}

.techSkills {
  display: flex;
  flex-direction: row;
}

.skillsLeft {
  margin-right: 5%;
  margin-top: 5%;
  font-size: 15px;
}
.dot {
  margin-left: 10px;
  margin-top: 11px;
  height: 11px;
  width: 11px;
  background-color: #3b3b3b;
  border-radius: 50%;
  display: inline-block;
}
.greenDot {
  margin-left: 10px;
  margin-top: 11px;
  height: 11px;
  width: 11px;
  background-color: #29f5c5;
  border-radius: 50%;
  display: inline-block;
}


#rightSide {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 5px;
  padding-left: 2px;
}
.exp {
  display: flex;
  flex-direction: column;
  height: 35%;
  margin-top: 10px;
}
.education {
  display: flex;
  flex-direction: column;
  height: 25%;
}
.interests {
  height: 10%;
}
.references {
  display:flex;
  flex-direction:column;
  justify-content: center;
  height: 20%;
}
.socials {
  height: 10%;
}

@media only screen and (min-width: 550px) {
  img {
    height: 50vh;
    width: 50vh;
    position: absolute;
    z-index: 3;
    right: 5px;
    top: 50px;
  }
  .container {
    width: 600px;
  }
  #leftSide {
    border-right: 4px solid #383838;
  }
  .skillsLeft {
    margin-top: 5px;
    margin-right: 10%;
    font-size: 14px;
  }
  .factsLeft {
    display: flex;
    flex-direction: column;
  }
  .dot {
    margin-left: 15px;
  }
  .greenDot {
    margin-left: 15px;
  }
}
